<div class="container">
  <mat-toolbar>
    <!-- Bouton pour créer une nouvelle facture -->
    <button (click)="newBill()" mat-raised-button color="primary">Nouvelle facture</button>
  </mat-toolbar>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Détails de l'étudiant</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <!-- Affichage des détails de l'étudiant -->
      <div *ngIf="studentDetails">
        <p><strong>ID : </strong>{{ studentDetails.studentId }}</p>
        <p><strong>Prénom : </strong>{{ studentDetails.firstName }}</p>
        <p><strong>Nom : </strong>{{ studentDetails.lastName }}</p>
        <p><strong>Adresse : </strong>{{ studentDetails.address }}</p>
        <p><strong>Code postal : </strong>{{ studentDetails.zipCode }}</p>
        <p><strong>Ville : </strong>{{ studentDetails.city }}</p>
        <p><strong>Téléphone : </strong>{{ studentDetails.phoneNumber }}</p>
        <p><strong>Email : </strong>{{ studentDetails.mail }}</p>
      </div>

      <!-- Bouton pour charger ou masquer les factures -->
      <button (click)="loadStudentBills()" mat-raised-button color="accent">
        {{ showBills ? 'Masquer les factures' : 'Afficher les factures' }}
      </button>

      <!-- Tableau des factures (affiché uniquement si showBills est vrai) -->
      <table *ngIf="showBills" mat-table [dataSource]="studentBills" class="mat-elevation-z8">
        <!-- ID Facture -->
        <ng-container matColumnDef="billId">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let bill"> {{ bill.billNumber }} </td>
        </ng-container>

        <!-- Montant -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Montant </th>
          <td mat-cell *matCellDef="let bill"> {{ bill.amount | currency }} </td>
        </ng-container>

        <!-- Date -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let bill"> {{ bill.sentDate | date }} </td>
        </ng-container>

        <!-- Statut -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Statut </th>
          <td mat-cell *matCellDef="let bill"> {{ bill.billStatus }} </td>
        </ng-container>

        <!-- Statut de paiement -->
        <ng-container matColumnDef="paymentStatus">
          <th mat-header-cell *matHeaderCellDef> Statut de paiement </th>
          <td mat-cell *matCellDef="let bill"> {{ bill.paymentStatus }} </td>
        </ng-container>

        <!-- Type de paiement -->
        <ng-container matColumnDef="paymentType">
          <th mat-header-cell *matHeaderCellDef> Type de paiement </th>
          <td mat-cell *matCellDef="let bill"> {{ bill.paymentType }} </td>
        </ng-container>

        <!-- Bouton Détails -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let bill">
            <button (click)="viewBillDetails(bill)" mat-raised-button color="primary">Détails</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['billId', 'amount', 'date', 'status', 'paymentStatus', 'paymentType', 'details']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['billId', 'amount', 'date', 'status', 'paymentStatus', 'paymentType', 'details'];"></tr>
      </table>

      <!-- Bouton pour charger ou masquer les factures -->
      <button (click)="loadStudentCourses()" mat-raised-button color="accent">
        {{ showCourses ? 'Masquer les cours' : 'Afficher les cours' }}
      </button>

      <!-- Tableau des cours -->
      <table *ngIf="showCourses" mat-table [dataSource]="studentCourses" class="mat-elevation-z8">
        <!--Id du cours -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> Cours </th>
          <td mat-cell *matCellDef="let course"> {{ course.courseId }} </td>
        </ng-container>

        <!-- Date -->
        <ng-container matColumnDef="dateCourse">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let course"> {{ course.date }} </td>
        </ng-container>

        <!-- Durée -->
        <ng-container matColumnDef="courseDuration">
          <th mat-header-cell *matHeaderCellDef> Durée </th>
          <td mat-cell *matCellDef="let course"> {{ course.duration }} heures </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['ID', 'dateCourse', 'courseDuration']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['ID', 'dateCourse', 'courseDuration'];"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
