mat-form-field {
  display: block;
}

.login-form {
  width: 400px;
  flex: auto;
  margin: auto;
}

.login-button {
  background-color: #0379f8 !important;
  color: white !important;
}

.login-button:hover {
  background-color: #0b335b !important;
}
